boto3==1.24.19
botocore==1.27.19
jmespath==1.0.1
node==1.0
nodeenv==1.7.0
nodejs==0.1.1
npm==0.1.1
odict==1.9.0
optional-django==0.1.0
plumber==1.7
python-dateutil==2.8.2
s3transfer==0.6.0
six==1.16.0
urllib3==1.26.9
zope.component==5.0.1
zope.deferredimport==4.4
zope.deprecation==4.4.0
zope.event==4.5.0
zope.hookable==5.1.0
zope.interface==5.4.0
zope.lifecycleevent==4.4
zope.proxy==4.5.0
