.App {
  text-align: center;
}


.App-logo {
  height: 80px;
  pointer-events: none;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.round-img {
  margin-left: 40px;
  border-radius: 10%;
  width: 15vw;
  height: auto;
  align-self: center;
}


.thumb-img {
  margin-left: 10px;
  margin-right: 20px;
  border-radius: 10%;
  width: 5vw;
  height: auto;
  align-self: left;
}


.App-header {
  font-size: calc(10px + 1vmin);
  margin-left: 30px;
  color:rgb(255, 0, 0);
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 40px;
  padding-top: var(5px);
}


.slot-selector {
  min-width: 150px;
  padding: 13px 0px;
  text-align: center;
}


button, .button, .slot-selector {
  border-radius: 10px;
  font-size:small;
}


.Selector-container {
  display: flex;
  flex-direction: column;
}


.App-selector {
  font-size: 18px;
  color:black;
  padding: 0 2% 2% 2%;
  display: flex;
  justify-content: center;
  align-items: left;
  gap: 40px;
}

.message {
  font-size: 20px;
  padding: 3% 15%;
  color:rgb(225, 134, 195)
}

.wrapper {
  width: 90vw; /* 90% of viewport */
  width: clamp(16rem,15vw,25rem); /* Newer way to calculate size of elements */
  margin-left: auto; /*centre the elements*/
  margin-right: auto;
  padding-left: clamp(1.09rem,1rem + 0.47vw,1.33rem);
  padding-right: clamp(1.09rem,1rem + 0.47vw,1.33rem);
  position: relative;
}

.thumb {
  display: block;
  overflow: hidden;
  margin-left: auto; /*centre the elements*/
  height: 210px;
  width: 210px;
  border-radius: 20px;
}

.thumb img {
  display: block; /* Otherwise it keeps some space around baseline */
  max-width: 150%;    /* over 100% means it will be cropped width-wise.  If 25% of image is uneeded, you can scale up to 150% */
  max-height: 150%;
  -ms-interpolation-mode: bicubic; /* Scaled images look a bit better in IE now */
}
