.App {
  text-align: center;
}


.App-logo {
  height: 80px;
  pointer-events: none;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  font-size: calc(10px + 1vmin);
  margin-left: 30px;
  color:rgb(255, 0, 0);
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 40px;
  padding-top: var(5px);
}


.slot-selector {
  min-width: 150px;
  padding: 13px 0px;
  text-align: center;
}


button, .button, .slot-selector {
  border-radius: 10px;
  font-size:small;
}


.Selector-container {
  display: flex;
  flex-direction: column;
}


.App-selector {
  font-size: 18px;
  color:black;
  padding: 0 2% 2% 2%;
  display: flex;
  justify-content: center;
  align-items: left;
  gap: 40px;
}

.message {
  font-size: 20px;
  padding: 3% 15%;
  color:rgb(225, 134, 195)
}
